Demographic Data Analyzer

In [18]:

import pandas as pd

In [19]:
path="/content/drive/MyDrive/Colab Notebooks/dataset/adult.data.csv"
df=pd.read_csv(path)
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [21]:
df.shape

(32561, 15)

How many people of each race are represented in this dataset?

In [51]:
racename_count = df['race'].value_counts()
racename_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

What is the average age of men?

In [17]:
avg_age_men=df.loc[df['sex'] == 'Male', 'age'].mean().round(1)
print("avg_age_men:",avg_age_men)

avg_age_men: 39.4

What is the percentage of people who have a Bachelor's degree?

In [42]:
batchelor_degree = round((df.loc[df['education'] == 'Bachelors', 'education'].size * 100 / df.shape[0]), 1)
print("% of  Bachelor's degree:" , batchelor_degree)

% of  Bachelor's degree: 16.4

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [40]:
advance_education = df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]
advance_and_rich = round((advance_education[advance_education['salary'] == '>50K'].shape[0] * 100 / advance_education.shape[0]), 1)
print("% of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K:", advance_and_rich)

% of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K: 46.5

What percentage of people without advanced education make more than 50K?

In [43]:
without_degree = df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')]
without_degree_rich = round((without_degree[without_degree['salary'] == '>50K'].shape[0] * 100 / without_degree.shape[0]), 1)
print("percentage of people without advanced education make more than 50K:", without_degree_rich)

percentage of people without advanced education make more than 50K: 17.4

What is the minimum number of hours a person works per week?

In [44]:
min_hours = df['hours-per-week'].min()
print("minimum number of hours a person works per week:", min_hours)

minimum number of hours a person works per week: 1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [47]:
num_min_workers = df[df['hours-per-week'] == min_hours].shape[0]
num_min_rich = df[(df['hours-per-week'] == min_hours) & (df['salary'] == '>50K')].shape[0]
min_rich_percentage = round((num_min_rich * 100 / num_min_workers), 1)
print("percentage of the people who work the minimum number of hours per week have a salary of more than 50K:", min_rich_percentage)

percentage of the people who work the minimum number of hours per week have a salary of more than 50K: 10.0

What country has the highest percentage of people that earn >50K and what is that percentage?

In [56]:
country_counts = df[df['native-country'] != '?']['native-country'].value_counts()
rich_country_counts = df[(df['salary'] == '>50K') & (df['native-country'] != '?')]['native-country'].value_counts()
earning_percentage = (rich_country_counts / country_counts) * 100
highest_earning_country = earning_percentage.idxmax()
highest_earning_country_percentage = round(earning_percentage.max(), 1)

print("country with the highest percentage of people that earn >50K:", highest_earning_country)
print("percentage:", highest_earning_country_percentage)

country with the highest percentage of people that earn >50K: Iran
percentage: 41.9

Identify the most popular occupation for those who earn >50K in India.

In [63]:

India_top_occupation = df.loc[(df['salary'] == '>50K') & (df['native-country'] == 'India'), 'occupation'].value_counts()
print("popular occupations for those who earn >50K in India:\n", India_top_occupation)
India_top_occupation = India_top_occupation.idxmax()
print("\nmost popular occupation for those who earn >50K in India:", India_top_occupation)

popular occupations for those who earn >50K in India:
 occupation
Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: count, dtype: int64

most popular occupation for those who earn >50K in India: Prof-specialty